/*modelo de caixa
.conteudo {
    border: 1px solid red;
    padding-right: 20px;
    padding-bottom: 20px;
    padding: 20px;
    margin: 20px;
    width: 150px;
}
.conteudo2 {
    border: 1px solid red;
    width: 150px;
    margin: 50px;
}
*/
/*Noticia*/
#noticia {
	background: #f9f9f9;
	padding: 10px;
	border: 1px solid gray;
}
h2 {
	margin: 0px;
}

